* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: black;
}



::-webkit-input-placeholder {
    text-align:center;
}



.counter {
    
    
}
.countNum {
    text-align: center;
    font-size: 15rem;
    color: #fff;
   
    
}
.container {
    height: 80vh;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr  ;
    
}

.item {
    text-align: center;
    margin: auto;
    
  
}

.answer {
    font-size: 2vh;
    
}
.write {
    text-align: item;
    width: 20vh;
    height: 2vh;
    
}

#finish {
    color: #fff;
     padding: 15px 25px;
     background-color: #38D2D2;
     background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
     box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    font-size: 16px;

     border: 0;

    cursor: pointer;
}

#finish:hover {
    background: cyan;
    width: 20vh;
    height: 5vh;
}


